[Unit]
Description=Mount unit for openra, revision 1359
Before=snapd.service
After=zfs-mount.service

[Mount]
What=/var/lib/snapd/snaps/openra_1359.snap
Where=/snap/openra/1359
Type=squashfs
Options=nodev,ro,x-gdu.hide,x-gvfs-hide
LazyUnmount=yes

[Install]
WantedBy=multi-user.target
