[Unit]
Description=Mount unit for firefox, revision 1188
Before=snapd.service
After=zfs-mount.service

[Mount]
What=/var/lib/snapd/snaps/firefox_1188.snap
Where=/snap/firefox/1188
Type=squashfs
Options=nodev,ro,x-gdu.hide,x-gvfs-hide
LazyUnmount=yes

[Install]
WantedBy=multi-user.target
