[Unit]
Description=Mount unit for bare, revision 5
Before=snapd.service
After=zfs-mount.service

[Mount]
What=/var/lib/snapd/snaps/bare_5.snap
Where=/snap/bare/5
Type=squashfs
Options=nodev,ro,x-gdu.hide,x-gvfs-hide
LazyUnmount=yes

[Install]
WantedBy=multi-user.target
